.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

.home-feature-box .fa {
	font-size:6rem;
}

.home-feature-box span {
	display: block;
	color:#111;
	font-weight:bold;
	margin-top:1.5rem;
}

.example-components-list li > a {
  color: #495057;
}

.example-components-list li:last-child > a {
	border-bottom:0;
}

.example-components-list li > a .fa {
	color:rgba(0,0,0,.35);
	float:right;
}


.empty{
	border: 1px solid orange;
	height: 40vh;
	background-image: url("https://lh3.googleusercontent.com/proxy/sX670zN2NJ30AsRFDp4-rC9br4_ytuJL-5LmR_eQ2sa7f2a9OM5fbJPaxZkPUj7_8oUDGtDZSnY6-KUz5UmnYr7eNLhr-pz9U2nfPewSKil822G0_MfPC7jo");
}
.empty h4{
	color:white;
}
/* Rating */
.rating span {
	color: orange;
	font-size: 1rem;
	margin: 0.1rem;
  }
  .rating span:last-child {
	color: #444444;
	font-size: 1.4rem;
  }
  a > .rating > span:last-child {
	color: #0000ff;
  }

  .clause{
	  color: #f3f3f3;
  }
  .clause2{
	  color:orange;
  }
/*home page cards*/
.card-height{
	height: 400px;
}


 .scroll img{
	width: 100%;
	height: 200px;
}

.showreview{
	display: flex;
	justify-content: space-between;
}

/*sortrow*/
.sortrow{
	width: 100%;
	display: flex;
	justify-content: space-around;
}


.searchform{
	display: flex;
}
.searchbtn{
	width: 120px;
	padding: 8px;
	margin: 0;
}
.sort{
	padding: 0;
}

  /*spinner*/
  .loadspin{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 100%;
	  height: 100vh;
  }
  .loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #ffb901;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }